body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div a {
  text-decoration: none;
  color: #222;
  margin-right: 4px;
  font: 7px Arial,sans-serif;
}

img#logo {
  width: 270px;
  height: 129px;
}

.search {
  text-align: center;

}


.search button {
  background-color: #4e6ef2;
  color: #fff;
  border: none;
}

